<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile">
    Nama: Kevin Angka Wijaya <br>
    Nrp: c14180032 <br>
  </div>
  <div>
    Tebakan Angka : 
    <input type="text" placeholder="Masukkan Angka" [(ngModel)]="angka">
    <ion-button (click)="submitAngka()">Submit</ion-button> <br>

    <img *ngIf="muncul" src="/assets/icon/fotoprofile.jpg" alt="image">

  </div>

  
  
  
  
</ion-content>  